html,
body {
  box-sizing: border-box;
  background-color: rgb(219, 215, 204);
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  font-family: 'Courier New';
  font-size: 2.5rem;
  margin: 3rem 0;
}

.letter {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .4);
  padding: .5rem 1rem;
}

.letter:nth-child(odd) {
  border: 1px solid rgb(73, 162, 112);
  color: rgb(73, 162, 112);
  transform: skewY(20deg);
}

.letter:nth-child(even) {
  background-color: rgb(73, 162, 112);
  color: rgb(9, 14, 27);
  transform: skewY(-20deg);
}

.game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(73, 162, 112);
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .4);
  margin: .25rem;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 7rem;
  font-weight: 900;
  height: 8rem;
  width: 20%;
}

.restart {
  background: rgb(73, 162, 112);
  border: 1px solid rgb(73, 162, 112);
  border-radius: .5rem;
  color: rgb(219, 215, 204);
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
  outline: 0;
  padding: .5rem;
}

.restart:active {
  background: rgb(219, 215, 204);
  color: rgb(73, 162, 112);
}

footer {
  font-family: 'Courier New';
  margin-top: 2rem;
}

/* large desktop display */
@media only screen and (min-width: 2401px) and (max-width: 3000px) {
  .game {
    width: 30%;
  }
}

/* tablet display */
@media only screen and (max-width: 960px) {
  .game {
    width: 100%;
  }
}

/* small mobile display */
@media only screen and (max-width: 480px) {
  .sm {
    display: none;
  }
}